@import "../styles";

#card-div {
  text-align: center;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $secondary-color;
  background-color: $primary-color;
  border-radius: 15px;
  padding: 0.5rem;

  #img-wrapper {
    width: 90%;
    // border: 1px red solid;
    background-color: $secondary-color;
    // height: 11rem;
    height: 250px;
  }
  #card-title {
    font-weight: bold;
    margin: 0.7rem;
    font-size: 1.5rem;
  }

  #card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #card-description {
    margin: 0.7rem;
  }
}

#card-div:hover {
  cursor: pointer;
  color: $tertiary-color;
  .card-icon {
    color: $dark-green;
  }
}
