
#card-div {
  text-align: center;
  word-wrap: break-word;
  margin: 0.5rem;

  #card-title {
    font-weight: bold;
  }
  
  #card-img {
    width: 80%;
  }
  
  #card-description {
    margin: 0.3rem;
  }

}









